<section class="col-2-3 event-excerpt">
	<ul>
		<%= render partial: 'shared/event_excerpt', collection: @event_excerpts %>
	</ul>
	<p id="view"><a href="/events">View all events...</a></p>
</section>
