<nav id="main_nav" class="col-1-5">
		<ul>
		    <a href="/"><li class="selected" id="option1" name="/">Welcome</li></a>
		    <a href="/about"><li id="option2" name="/about">About</li></a>
		    <a href="/education"><li id="option3" name="/education">Education</li></a>
		    <a href="/pop-up-museum"><li id="option4" name="/pop-up-museum">Pop-up Museum</li></a>
		    <a href="/community-archaeology"><li id="option5" name="/community-archaeology">Community Archaeology</li></a>
		    <a href="aerial-services"><li id="option6" name="/aerial-services">Aerial Services</li></a>	    
		</ul>
</nav>