<!-- <h3>What we do</h3> -->
<ul class="col-2-3 summary">
	<li class="row">
		<div class="col-1-2 summary-item">
			<a href="/education">			
				<h3 style="background-color: #58937b;">Education</h3>
				<img src="/assets/front_page/education_summary.jpg">
			</a>
			<div>
				<p>We work with primary and post primary schools, after schools programmes, holiday schemes and community groups.</p>	
				<a href="/education">Read more...</a>	
			</div>
		</div>
	</li>
	<li>
		<div class="col-1-2 summary-item">
			<a href="/pop-up-museum">
				<h3 style="background-color: #ec802e;">Pop-up Museum</h3>
				<img src="/assets/front_page/pop-up_summary.jpg">
			</a>
			<div style="margin-left: 18px;">
				<p style="margin-left: 0px;">Public engagement is a big part of what we're about. It's a great way of letting people know about archaeology.</p>	
				<a style="margin-left: 0px;" href="/pop-up-museum">Read more...</a>	
			</div>
		</div>
	</li>
	<li class="row">
		<div class="col-1-2 summary-item">
			<a href="/community-archaeology">			
				<h3 style="background-color: #4888cf;">Community Archaeology</h3>
				<img src="/assets/front_page/community_summary.jpg">
			</a>
			<div>
				<p>IAR work with a number of groups helping them to develop archaeological and heritage projects across Northern Ireland. </p>
				<a href="/community-archaeology">Read more...</a>	
			</div>
		</div>
	</li>
	<li>
		<div class="col-1-2 summary-item">
			<a href="/aerial-services">			
				<h3 style="background-color: #e2b754;">Aerial Services</h3>
				<img src="/assets/front_page/aerial-service_summary.jpg">
			</a>
			<div style="margin-left: 18px;">
				<p style="margin-left: 0px;">Irish Archaeological Research uses the latest UAV technology to bring you stunning aerial photography and video. </p> 
				<a style="margin-left: 0px;" href="/aerial-services">Read more...</a>	
			</div>
		</div>
	</li>		
			
</ul>