<!-- <h3>What we do</h3> -->
<ul class="col-2-3 summary">
	<li class="row">
		<div class="col-1-2">
			<h3>Education</h3>
			<a href="/education">			
				<img src="/assets/front_page/education_summary.jpg">
			</a>
			<p>We work with primary and post primary schools, after schools programmes, holiday schemes and community groups. Our workshops incorporate visual presentations, excavations, surveys and hands-on interaction with genuine and replica artefacts.</p>	
			<a href="/education">Read more...</a>	
		</div>
	</li>
	<li>
		<div class="col-1-2">
			<h3>Pop-up Museum</h3>
			<a href="/pop-up-museum">
				<img src="/assets/front_page/pop-up_summary.jpg">
			</a>
			<p>Public engagement is a big part of what we at IAR are about. It's a great way of letting people know about the archaeology in their immediate surroundings as well as informing them on the archaeology, monuments and history of Northern Ireland.</p>	
			<a href="/pop-up-museum">Read more...</a>	
		</div>
	</li>
	<li class="row">
		<div class="col-1-2">
			<h3>Community Archaeology</h3>
			<a href="/community-archaeology">			
				<img src="/assets/front_page/community_summary.jpg">
			</a>
			<p>IAR work with a number of heritage and community groups helping them to develop archaeological and heritage projects that can be put in place across our shared spaces in Northern Ireland. We have vast amount of untapped archaeological and heritage resources in Northern Ireland that few outside the local area know about.</p>
			<a href="/community-archaeology">Read more...</a>	
		</div>
	</li>
	<li>
		<div class="col-1-2">
			<h3>Aerial Services</h3>
			<a href="/aerial-services">			
				<img src="/assets/front_page/aerial-service_summary.jpg">
			</a>
			<p>Irish Archaeological Research uses the latest UAV technology to bring you
stunning aerial photography and video. Our aerial service can add an extra dimension to archaeological
site works and contextualise a site within its landscape.</p> 
			<a href="/aerial-services">Read more...</a>	
		</div>
	</li>		
			
</ul>