<div class="grid">
	<div class="row">

		<%= render 'nav' %>		
		
	  	<section class="tab col-2-3">
	        <p>IAR is run by Gavin Donaghy, Ross Bailey and Lianne Heaney, qualified archaeologists with many years of experience in commercial archaeology sector. </p>

	        <h3>Gavin Donaghy</h3>
      		<p>Gavin is a graduate of the University of Ulster Jordanstown. He started his working life in the IT sector, but then decided to follow his dream of becoming an archaeologist and began working in commercial archaeology as a field archaeologist, working his way up to a licensed archaeological site director in 2009. Gavin has a vast amount of experience on numerous archaeological site types and has a great passion for new technology and how it can add to our appreciation of archaeological sites. Gavin heads up our educational outreach department and our aerial photographic surveys.</p>

      		<h3>Ross Bailey</h3>
      		<p>Ross is a graduate from Queens University Belfast in archaeology and has worked as a field archaeologist and impact assessment researcher dealing with planning issues since 2006. Ross has experience of working on many different archaeological sites and researching the history of those sites. His current research interests include recreating prehistoric technology, with a critical view of functionality, particularly regarding prehistoric archery and hunting, and historical European martial arts and techniques as laid out in surviving period manuals.</p>

      		<h3>Lianne Heaney</h3>
			<p>Lianne is a graduate from Queens University Belfast and University of Ulster Coleraine in archaeology. She has worked in the commercial archaeology sector since 2002 making her way up the ranks from a field archaeologist to licensed site director and then post-excavation manger and business manager of one the biggest commercial archaeological consultancy’s in Northern Ireland. Lianne currently oversees the admin side of the company.</p>

			<h3>Cormac Duffy</h3>
			<p>Cormac has recently joined us from University College London, he will be our Northwest Heritage and Education Officer, initially focusing on our new archaeology in the classroom initiative.  Cormac studied archaeology and graduated from Queens University Belfast in 2005 and has worked in the commercial sector in Northern Ireland and England ever since working his way up to supervising and managing excavations on large multi period sites throughout the UK. His interests include wood preservation in archaeological contexts, outside of fieldwork he has an ongoing interest in archaeological based community outreach.</p>

			<h3>Volunteers</h3>
			<p>On occasion when we are particularly busy we use volunteers to help us on various projects. All our volunteers are qualified archaeologists and hold CBR certificates.</p>
		</section><!-- /.tabpane -->
	</div><!-- end of main content row -->

	<div class="row">
		<%= render 'mobile_nav' %>		
	</div><!-- end of row 3 -->
</div><!-- end of main -->

<%= render 'social-script' %>


