<% provide(:title, 'About Us') %>

<div class="main main-container">

	<blockquote>
		<h2>Bringing our local heritage to the world</h2>
	</blockquote>

	<div class="row about-us">
		<!-- row of 4 thumbnails -->
		<div class="span2">
		</div>
		<div class="span2">
			<a href="#">
					<img src="http://placehold.it/160x140" />
				</a>
				<p>Lorem ipsum voluptate voluptate fugiat commodo id reprehenderit incididunt ut ut ad aliquip et nulla in Excepteur. Lorem ipsum reprehenderit irure elit adipisicing sint Ut deserunt ex. Lorem ipsum eu ea dolore anim est et et fugiat laborum aute.</p>
		</div>
		<div class="span2">
			<a href="#">
					<img src="http://placehold.it/160x140" />
				</a>
				<p>Lorem ipsum voluptate voluptate fugiat commodo id reprehenderit incididunt ut ut ad aliquip et nulla in Excepteur. Lorem ipsum reprehenderit irure elit adipisicing sint Ut deserunt ex. Lorem ipsum eu ea dolore anim est et et fugiat laborum aute.</p>
		</div>
		<div class="span2">
			<a href="#">
					<img src="http://placehold.it/160x140" />
				</a>
				<p>Lorem ipsum voluptate voluptate fugiat commodo id reprehenderit incididunt ut ut ad aliquip et nulla in Excepteur. Lorem ipsum reprehenderit irure elit adipisicing sint Ut deserunt ex. Lorem ipsum eu ea dolore anim est et et fugiat laborum aute.</p>
		</div>
		<div class="span2">
			<a href="#">
					<img src="http://placehold.it/160x140" />
				</a>
				<p>Lorem ipsum voluptate voluptate fugiat commodo id reprehenderit incididunt ut ut ad aliquip et nulla in Excepteur. Lorem ipsum reprehenderit irure elit adipisicing sint Ut deserunt ex. Lorem ipsum eu ea dolore anim est et et fugiat laborum aute.</p>
		</div>		
	</div>

	<div id="about-btn">
		<center><a class="btn btn-large btn-inverse" href="/contact">Contact Us</a></center>
	</div>

</div>





