<% provide(:title, 'About Us') %>

<div class="main content">

	<blockquote>
		<p>Bringing our local heritage to the world</p>
	</blockquote>

	<h2>About Us</h2>
	<div class="row about-us">
		<!-- row of 4 thumbnails -->
		<div class="span3">
			<a href="#">
					<img src="http://placehold.it/260x140" />
				</a>
				<p>Lorem ipsum voluptate voluptate fugiat commodo id reprehenderit incididunt ut ut ad aliquip et nulla in Excepteur. Lorem ipsum reprehenderit irure elit adipisicing sint Ut deserunt ex. Lorem ipsum eu ea dolore anim est et et fugiat laborum aute. Lorem ipsum voluptate voluptate fugiat commodo id reprehenderit incididunt ut ut ad aliquip et nulla in Excepteur. Lorem ipsum reprehenderit irure elit adipisicing sint Ut deserunt ex. Lorem ipsum eu ea dolore anim est et et fugiat laborum aute.</p>
		</div>
		<div class="span3">
			<a href="#">
					<img src="http://placehold.it/260x140" />
				</a>
				<p>Lorem ipsum voluptate voluptate fugiat commodo id reprehenderit incididunt ut ut ad aliquip et nulla in Excepteur. Lorem ipsum reprehenderit irure elit adipisicing sint Ut deserunt ex. Lorem ipsum eu ea dolore anim est et et fugiat laborum aute. Lorem ipsum voluptate voluptate fugiat commodo id reprehenderit incididunt ut ut ad aliquip et nulla in Excepteur. Lorem ipsum reprehenderit irure elit adipisicing sint Ut deserunt ex. Lorem ipsum eu ea dolore anim est et et fugiat laborum aute.</p>
		</div>
		<div class="span3">
			<a href="#">
					<img src="http://placehold.it/260x140" />
				</a>
				<p>Lorem ipsum voluptate voluptate fugiat commodo id reprehenderit incididunt ut ut ad aliquip et nulla in Excepteur. Lorem ipsum reprehenderit irure elit adipisicing sint Ut deserunt ex. Lorem ipsum eu ea dolore anim est et et fugiat laborum aute. Lorem ipsum voluptate voluptate fugiat commodo id reprehenderit incididunt ut ut ad aliquip et nulla in Excepteur. Lorem ipsum reprehenderit irure elit adipisicing sint Ut deserunt ex. Lorem ipsum eu ea dolore anim est et et fugiat laborum aute.</p>
		</div>
		<div class="span3">
			<a href="#">
					<img src="http://placehold.it/260x140" />
				</a>
				<p>Lorem ipsum voluptate voluptate fugiat commodo id reprehenderit incididunt ut ut ad aliquip et nulla in Excepteur. Lorem ipsum reprehenderit irure elit adipisicing sint Ut deserunt ex. Lorem ipsum eu ea dolore anim est et et fugiat laborum aute. Lorem ipsum voluptate voluptate fugiat commodo id reprehenderit incididunt ut ut ad aliquip et nulla in Excepteur. Lorem ipsum reprehenderit irure elit adipisicing sint Ut deserunt ex. Lorem ipsum eu ea dolore anim est et et fugiat laborum aute.</p>
		</div>		
	</div>
</div>





