<div class="grid">
	<div class="row">

		<%= render 'nav' %>		
		
	  	<section class="col-2-3 tab">
      		<p><a href="/contact">Contact us</a> for further details if you would like to hire this service.</p>
			<img class="col-1-1" src="/assets/front_page/audleys.jpg">
			<img class="col-1-1" src="/assets/front_page/inch-abbey-3.jpg">
			<img class="col-1-1" src="/assets/front_page/grianan.jpg">
		</section><!-- /.tabpane -->
	</div><!-- end of main content row -->

	<div class="row">
		<%= render 'events' %>
	</div><!-- end of event row -->

	<div class="row">
		<%= render 'others' %>
	</div><!-- end of row 3 -->
</div><!-- end of main -->

<%= render 'social-script' %> 


