<div class="grid">
	<div class="row">

		<%= render 'nav' %>		
		
	  	<section class="col-2-3 tab">

      		<ul class="bxslider">
      			<li><img title="Audleystown Castle" src="/assets/aerial/Audleystown_Castle.jpg"></li>
				<li><img title="Inch Abbey" src="/assets/aerial/Inch_Abbey.jpg"></li>
				<li><img title="Ballynoe Stone Circle" src="/assets/aerial/Ballynoe_Stone_Circle.jpg"></li>
				<li><img title="Burial Mound at Kiltierny Deer Park" src="/assets/aerial/Burial_Mound.jpg"></li>
				<li><img title="Clonca Church" src="/assets/aerial/Clonca_church.jpg"></li>
				<li><img title="Down Cathedral" src="/assets/aerial/Down_Cathedral.jpg"></li>
				<li><img title="Aughnanure Castle" src="/assets/aerial/Aughnanure_Castle.jpg"></li>
				<li><img title="The Mound of Down" src="/assets/aerial/Mound_Of_Down.jpg"></li>
				<!-- <li><img title="Nendrum Monastic site Mahee Island" src="/assets/aerial/Nendrum_Monastic.jpg"></li>								 -->
      		</ul>
	  		<p>
	  			Irish Archaeological Research uses the latest UAV technology to bring you
stunning aerial photography and video. Aerial photography is a great way to
promote archaeological and historical sites; we have used our UAV to raise the
profile or archaeological sites and monuments across Ireland through our social
media pages. Our aerial service can add an extra dimension to archaeological
site works and contextualise a site within its landscape; similarly it can be used
during an initial site survey to help identify archaeological remains that would be
difficult to detect from the ground. 
	  		</p>



	  		<p>
	  			If you would like to find out more about our aerial service please contact us at <a href="mailto:info@irisharchaeologicalresearch.com">info@irisharchaeologicalresearch.com</a>
	  		</p>

      		<small><i>All of the aerial images used on our website have been taken using our UAV.</i></small>
		</section><!-- /.tabpane -->
	</div><!-- end of main content row -->

	<div class="row">
		<%= render 'mobile_nav' %>		
	</div><!-- end of row 3 -->
</div><!-- end of main -->

<%= render 'social-script' %>

<script type="text/javascript">
$(document).ready(function(){
  $('.bxslider').bxSlider({
  	captions: true
  });
});
</script>
