<div class="grid">
	<div class="row">

		<%= render 'nav' %>		
		
	  	<section class="col-2-3 tab">
	  		<div class="summary-item">
	  			<h3>Community Archaeology</h3>
				<img class="col-1-1" src="/assets/front_page/community.jpg" />  
	  		</div>
	      		<p>IAR work with a number of heritage and community groups helping them to develop archaeological and heritage projects that can be put in place across our shared spaces in Northern Ireland.</p>

  			<p>We have vast amount of untapped archaeological and heritage resources in Northern Ireland that few outside the local area know about. IAR can provide advice and guidance to local community groups and heritage trusts that are trying to open up and develop these hidden gems to the wider world and in so doing, putting them on the tourist trial and brining increased revenue to their area. </p>

  			<div class="summary-item">
				<h3>It's for Everyone</h3>	
				<img class="col-1-1" src="/assets/front_page/green-island.jpg" />  
  			</div>
			<p>Archaeology isn’t just for the "stuffy professor" types, its for everyone! We have a shared past that spans the millennia and by learning about our ancestors we may more readily accept our shared future on this little piece of land. Community archaeology has already taken great strides in England, Scotland and Wales, however, we in Northern Ireland haven’t been as hands-on as other areas. IAR can help your group take that step forward and engage your community with its local archaeological heritage.</p>
		</section><!-- /.tabpane -->
	</div><!-- end of main content row -->

	<div class="row">
		<%= render 'mobile_nav' %>		
	</div><!-- end of row 3 -->
</div><!-- end of main -->

<%= render 'social-script' %>


