
<div class="grid">
	<div class="row">

		<%= render 'nav' %>		
		
	  	<section class="col-2-3 tab">
      		<p>We work with primary and post primary schools, after schools programmes, holiday schemes and community groups. We have developed a series of archaeology talks and workshops that complement and integrate with the teaching curriculum in both Northern Ireland and the Republic of Ireland.</p>
			<img class="col-1-1" src="/assets/front_page/christina.jpg">
      		<h3>Workshops</h3>
      		<p>Our workshops incorporate visual presentations, excavations, surveys and hands-on interaction with genuine and replica artefacts. Students will learn to assess the lives of ancient people through careful examination of the material they left behind. Our educational programme guides, motivates and encourages children to draw together diverse threads of evidence in order to give relevance to everyday objects, places and landscapes.</p>

      		<h3>Learning objectives</h3>
			<p>Archaeology incorporates a huge range of school curriculum subjects including history, geography, science and art. Whatever your learning objective we can provide a unique educational experience that will be enjoyed by teacher and pupil alike.</p>

			<img class="col-1-1" src="/assets/front_page/bow.jpg">
			<p>Our archaeologists can give a talk to the whole school or a single class. We have numerous classroom based workshops that will engage and intrigue your pupils. They will get to talk with archaeologists, learning how they investigate the past and learn about our ancestors from prehistoric periods right up to the post-medieval period.</p>

			<p>We are currently the educational heritage outreach partner for the St. Patrick Centre in Downpatick with the remit to provide outreach on the aspect of early Christianity to schools in the area.</p>

			<h3>Get in Touch</h3>
			<p>If you would like one of our archaeologists to visit your school please <a href="/contact">contact us</a> to see what we can offer you.</p>
		</section><!-- /.tabpane -->
	</div><!-- end of main content row -->

	<div class="row">
		<%= render 'events' %>
	</div><!-- end of event row -->
	<div class="row">
		<%= render 'others' %>
	</div><!-- end of row 3 -->
</div><!-- end of main -->

<%= render 'social-script' %>