<div class="grid">
	<div class="row">

		<%= render 'nav' %>		
		
	  	<section class="col-2-3 tab">
			<p class="blurb">We are an <em>archaeological heritage</em> consultancy based in Northern Ireland. We work with <em>schools</em>, <em>community groups</em>, <em>heritage trusts</em>, <em>councils</em> and <em>local government bodies</em> in the <em>promotion</em> of local archaeology.</p>
      		<img class="col-1-1"src="/assets/front_page/school.jpg" />

			<h3>Our Aim</h3>
			<p>Our aim is to promote local heritage by engaging communities through events and school outreach programmes. We want to create connections and build infrastructures that can start to explore the rich heritage that is all around us.</p>

      		<img class="col-1-1"src="/assets/front_page/girl-walking-past-table.jpg" />

			<h3>Shared Heritage</h3>
			<p>We at IAR are constantly evolving and improving our approach to the way we teach and demonstrate our heritage. We strive to give the best service possible, to help build more bridges between communities based on our shared heritage - which stretches back 10,000 years.</p>
		</section><!-- /.tabpane -->
	</div><!-- end of main content row -->

	<div class="row">
		<%= render 'events' %>
	</div><!-- end of event row -->

	<div class="row">
		<%= render 'others' %>
	</div><!-- end of row 3 -->
</div><!-- end of main -->

<%= render 'social-script' %> 


