<div class="center hero-unit">
	<h1>Welcome to IAR</h1>

	<h2>
		This is the home page for the new IAR website. Read our new digital magazine!
	</h2>

	<%= link_to "Read Now", '#', class: "btn btn-large btn-primary" %>	
</div>