<div class="grid">
	<div class="row">

		<%= render 'nav' %>		
		
	  	<section class="col-2-3 tab">

			<p class="col-1-4">IAR is the first home-grown archaeological heritage consultancy in Northern Ireland with specific emphases on education and public participation in archaeology. We work with schools, community groups, heritage trusts, councils and local government bodies in the promotion of local archaeology.</p>
      		<img class="col-3-4" src="/assets/front_page/girl-walking-past-table.jpg" />

			<h3 class="row">Our Aim</h3>
			<p>Our aim is to promote local heritage by engaging local communities with their heritage through public engagement	events and school outreach programmes. We want to create connections and build infrastructures that can start to explore the rich archaeological heritage that is all around our communities.</p>

			<h3>Shared Heritage</h3>
			<p>We at IAR are constantly evolving and improving our approach to the way teach and demonstrate our archaeological	heritage. We strive to give the best service possible, to help build more bridges between communities based on our shared archaeological heritage - which stretches back 10,000 years.</p>
		</section><!-- /.tabpane -->
	</div><!-- end of main content row -->

	<div class="row">
		<%= render 'events' %>
	</div><!-- end of event row -->

	<div class="row">
		<%= render 'others' %>
	</div><!-- end of row 3 -->
</div><!-- end of main -->

<%= render 'social-script' %> 


