<div class="row">
	<div class="span4">
		
		<div class="news-latest">
			<h4>Example Blog post</h4>
			<p>Lorem ipsum est aliqua proident nostrud amet magna labore adipisicing Duis dolore sit. Lorem ipsum proident velit deserunt voluptate enim velit ullamco do ut culpa ullamco nulla reprehenderit.</p>
		</div>	
		<div class="news-latest">
			<h4>Example Blog post</h4>
			<p>Lorem ipsum est aliqua proident nostrud amet magna labore adipisicing Duis dolore sit. Lorem ipsum proident velit deserunt voluptate enim velit ullamco do ut culpa ullamco nulla reprehenderit. </p>
		</div>

		<div class="blog-latest">
			<h4>Example Blog post</h4>
			<p>Lorem ipsum est aliqua proident nostrud amet magna labore adipisicing Duis dolore sit. Lorem ipsum proident velit deserunt voluptate enim velit ullamco do ut culpa ullamco nulla reprehenderit. </p>
		</div>
		<div class="blog-latest">
			<h4>Example Blog post</h4>
			<p>Lorem ipsum est aliqua proident nostrud amet magna labore adipisicing Duis dolore sit. Lorem ipsum proident velit deserunt voluptate enim velit ullamco do ut culpa ullamco nulla reprehenderit. </p>
		</div>

	</div>
	<div class="span8 main-content">
		<h2>Heading</h2>
		<h4>Subheading</h3>
		<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.  Lorem ipsum sed ut dolor consequat sed nisi exercitation exercitation sunt. Lorem ipsum tempor dolor Duis consequat ea labore eu dolor do esse voluptate qui dolor dolor deserunt. </p>
		<hr />
		<h2>Heading</h2>
		<h4>Subheading</h3>
		<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.  Lorem ipsum sed ut dolor consequat sed nisi exercitation exercitation sunt. Lorem ipsum tempor dolor Duis consequat ea labore eu dolor do esse voluptate qui dolor dolor deserunt. </p>
		<hr />
		<h2>Heading</h2>
		<h4>Subheading</h3>
		<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>	
		<hr />					
	</div>
</div>