<div class="grid">
	<div class="row">

		<%= render 'nav' %>		
		
	  	<section class="col-2-3 tab">
	        <p>Public engagement is a big part of what we at IAR are about. It's a great way of letting people know about the archaeology in their immediate surroundings as well as informing them on the archaeology, monuments and history of Northern Ireland, on the isle as a whole and how our story fits into the wider global view.</p>
			<img class="col-1-1" src="/assets/front_page/pop-up-museum.jpg">

	        <h3>Pop-up Museum</h3>
			<p>We have launched an innovative, hands-on heritage scheme called The Pop-Up Museum. The pop-up museum displays the artefacts found during archaeological investigations around the country and enables people to interact with them. The pop-up museum can be housed indoors or outdoors in its own marquee.</p>
			<img class="col-1-1" src="/assets/front_page/boy-holding-sword.jpg" />
			<h3>Public engagement</h3>
			<p>Public engagement is a great way of getting your theme or topic across to the public. We have taken part in numerous public engagement events for festivals, councils, local monuments, community groups, schools and commercial companies. If you would like a fun, colourful, unique and educational addition to your event please <span id='basic-modal' style="display: inline;"><a href='/contact' class='basic'>contact us</a></span> for a quote. We can tailor the museum to suit your event or theme.</p>
		</section><!-- /.tabpane -->
	</div><!-- end of main content row -->

	<div class="row">
		<%= render 'mobile_nav' %>		
	</div><!-- end of row 3 -->
</div><!-- end of main -->

<%= render 'social-script' %> 


