<div class="event-latest">
	<% if event_excerpt.news == 1 %>
		<h4> <%= link_to event_excerpt.title, events_path(:type => 'news') %></h4>		
	<% else %>
		<h4> <%= link_to event_excerpt.title, events_path %></h4>		
	<% end %>

	<p> <%= raw(truncate(event_excerpt.description, :length => 150, :omission => "... #{link_to "(read more)", polymorphic_path(event_excerpt)}")) %> </p>	
	<span class="timestamp">
		Posted <%= time_ago_in_words(event_excerpt.created_at) %> ago.
	</span>
	<hr />
</div>


