<li>
	<%= link_to event.title, event %>
	<%= event.date %>
	<% if signed_in? %>
	| <%= link_to "delete", event, method: :delete, data: { confirm: "You sure?" } %>		
	| <%= link_to "edit", edit_event_path(event) %>	
	<% end %>
</li>