@import "bootstrap";
@import "bootstrap-responsive";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;


}

body {
  padding-top: 0px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

li {
  line-height: 1.7em;  
}


.alert {
  margin-top: 20px;
}

/* header */
.top {
  padding-top:5px;
  padding-bottom:5px;
  background: white;
  position: relative;
}

.navbar-inner {
  li {
    line-height: 20px;
    font-size: 17px;
  }
}

#search {
  margin-top: 6px;
}


.banner {
  background: url("/assets/darkergreencloth3.png") repeat scroll center center;
  height:222px;
  margin-top: 0px;

}

.banner .banner-content {
  color: white;
  position: relative;
  padding-left: 150px;
  h1 {
    margin-top: 30px;
    margin-left: 180px;
    padding-right: 600px;
    postion: absolute;
    font-size: 3em;
    text-align: left; 
    text-shadow: -2px -1px 5px #707070;

  }
  p {
    margin-top: 42px;
    position: absolute;
    right: 570px;
    bottom: -10px;
  }
  .featured {
    position: absolute;
    right: 400px;
    top: 20px;
    z-index: 1;
    -moz-box-shadow:    -2px -1px 5px #707070;
    -webkit-box-shadow: -2px -1px 5px #707070;
    box-shadow: -2px -1px 5px #707070;
  }
  .background {
    position: absolute;
    right: 370px;
    top: 50px; 
    -moz-box-shadow:    -2px -1px 5px #707070;
    -webkit-box-shadow: -2px -1px 5px #707070;
    box-shadow: -2px -1px 5px #707070;
  }
  .btn {
  position: relative;
  left: -100px;
  }
}

#logo {
  float: left;
  margin-right: 10px;
}

logo {
  max-width: 100%;  
}


#logo-container {
  width: 150px;

}

/* headsocial */

#headsocial {
    position: absolute;
    bottom: 10px;
    right: 0px;
}
    #headsocial li {
        display: inline;
    }

    #headsocial img {
        float: left;
        margin-left: 23px;
        -webkit-transition:-webkit-border-radius .2s;
        -moz-transition: -moz-border-radius .2s;
        transition: -border-radius .2s;
    }



/* main home */

.home-content {
  margin-top: 20px;
  h2 {
    text-align: left;
  }
  h4 {
    color: #999999;
    font-weight: bold;
    letter-spacing: -1px;
    margin-bottom: 10px;
  }
}

#schools-image {
  margin-bottom:30px;
}

/* sidebar */

.home-sidebar h2 {
  text-align: left;
  margin-top: 90px;
  margin-bottom: 30px;
}

#second {
  margin-top: 40px;
}

.blog-latest {
  background-color: #D9EDF7;
  border: 1px solid #BCE8F1;  
  color: #3A87AD; 
  border-radius: 4px 4px 4px 4px;
  margin-bottom: 18px;
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  p {
      font-size: 13px;
      line-height: 18px;
      margin: 0 0 9px;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);  
  } 
  h4 {
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);        
  }
  a {
      color: #3A87AD;
  }  
}

.event-latest {
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;  
  color: #468847; 
  border-radius: 4px 4px 4px 4px;
  margin-bottom: 18px;
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);  
  p {
      font-size: 13px;
      line-height: 18px;
      margin: 0 0 9px;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);  
  } 
  h4 {
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); 
 
  }
  a {
      color: #468847;
  }
}


/* Blog */
.content {
  margin-top: 40px;
  h2 {
    text-align: left;
  }
}

.sidebar {
  margin-top: 40px;
  h2 {
    text-align: left;
  }
}


/* About us*/
.about-us p {
  margin-top: 10px;
}
#about-btn {
  margin-top:20px;
}


blockquote {
  color: #999999;
  font-weight: bold;
  font-style: italic;
  border-left: none;
  margin: 1em 3em 3em; 
}
  blockquote p {
    text-align: center;
    font-size: 27px;
    line-height: 2.25em;
}
  blockquote p:before {
    content: '"'; }
  blockquote p:after {
    content: '"'; 
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  a {
    color: #999999;
    &:hover { 
      color: white;
    }
  }  
  small { 
    float: left; 
    color: #999999;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

 /* events index */

.events {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

select.date-select, #publication_pubtype {
  padding: 5px 0;
}

.actions {
  clear:both;
  margin-left:30px;

}

.form {
  margin-left:-30px;
}

#bootstrap-link {
    color: #0088CC;
    text-decoration: none; 
    &:hover {
      text-decoration: underline;     
    } 
}


