.grid {
width: auto;
margin: 0 10%;
}
[class*='col-'] {
  float:left;
}
.col-1-1 {
  width:100%;
}
.col-2-3 {
  width: 66.66%;
}
.col-1-3 {
  width: 33.33%;
}
.col-1-2 {
  width: 50%;
}
.col-1-4 {
  width: 25%;
}
.col-1-5 {
  width: 20%
}
.col-3-4 {
  width: 75%;
}
.col-1-8 {
  width: 12.5%;
}
.grid:after {
  content:"";
  display: table;
  clear: both;
}
.row {
  clear: both;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}
[class*='col-'] {
  padding-right: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
.grid-pad {
  padding: 20px 0 20px 20px;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}

/* mixins, variables, etc. */

$header: #e2b754;
$border: #7ec579;
$tab: #aaa; /*#A798C0;*/
$tab_background: #eee;
$tab_border: #625081;
$event: #625081;
$nav: #b1a8c0;

/* universal */
html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #575757;
}

/*body {
  background-attachment: fixed;
  background-image: url("/assets/bg.png");
  background-position: 100% center;
  background-repeat: repeat;
}*/
/*body {
  background-image: url("/assets/bg.gif");
  background-repeat: repeat;
  background-attachment: fixed; 
}*/
body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding:0;
}
h1 {
  font-size: 44px;
  line-height: 48px;
  color: #948b96;
  letter-spacing: -1px;
}

h3 {
  font-size: 22px;
  line-height: 22px;
  color: #625081;
  margin: 30px 0 0 0;
  font-weight: normal;
}
#find {
  color: #948b96;
}
p {
    font-size: 16px;
    line-height: 24px;
}
a {
  text-decoration: none;
  color: #0088CC;
  outline: 0;
}
li {
  line-height: 1.7em;  
  list-style: none;
}

.alert {
  margin-top: 20px;
}

#te, #be, #re, #le {
  position: fixed;
  display: block;
}

#te {
  left: 0;
  right: 0;
  top: 0;
  height: 10px; 
}

#be {
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px; 
}

#re {
  bottom: 0;
  right: 0;
  top: 0;
  width: 10px;
}

#le {
  left: 0;
  bottom: 0;
  top: 0;
  width: 10px;
}


/* headsocial */

#headsocial li {
    display: inline-block;
    padding-right: 10px;
}
#headsocial h3 {
  margin-bottom: 5px;
}
#headsocial {
  position: fixed;
  right: 10%;
  bottom: 30px;
}
#headsocial img:hover {
  opacity: 0.7;
}

/* Header  */
#header_nav {
  position: fixed;
  right: 10%;
  top: 0px;
}
#header_nav ul {
  margin-top: 10px;
}
#header_nav li {
  padding-right: 2px !important;
  padding: 2px;
  display: inline;
}
#header_nav li.active {
  background: $tab_border;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);  
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;  
}
#header_nav li:not(.active):hover {
  background-color: #eee;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;  
}

#header_nav li {
  text-align: center;
}
#header_nav li a {
  color: #948b96;
}
#header_nav li.active a {
  color: white;
}

li#fat-menu.dropdown > ul.dropdown-menu {
  color: #999999;
  background: #fbfbfb;
  a {
    background: #fbfbfb;
    color: #999999;
    text-shadow: none;
  }
}


/* masthead */
#masthead {
  border-bottom: 2px dotted #625081; 
  position: relative;
  margin-bottom: 10px;
}

#masthead img {
  height: 180px;
  margin: 5px 0 0 0;
}
#masthead div {
  position: absolute;
  top:30px;
  left:55px;
}
#aye {
  padding-left: 5px;
}
.logo {
  font-style: normal;
  color: $tab_border;
}
.blurb {
  font-size: 22px;
  line-height: 34px; 
  padding-bottom: 25px;
  border-bottom: 2px dotted #625081; 

}  
.blurb em {
  font-style: normal;
  font-weight: bold;
  color: #625081;
}
.home #masthead {
  margin-bottom:0px;
}
#mobile_nav {
  display: none;
}

#main_nav {
  position: fixed;
  right: 10%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
#main_nav ul, #mobile_nav ul {
  background: $tab_background;  
}
#main_nav li, #mobile_nav li {
  padding: 5px;
}
#main_nav li.selected, #mobile_nav li.selected {
  background-color: $tab;
}
#main_nav a, #mobile_nav a {
  color: #948b96;
}
#main_nav li.selected, #main_nav li.selected a,#mobile_nav li.selected, #mobile_nav li.selected a {
  color: white;
}
#main_nav li.selected:hover, #mobile_nav li.selected:hover {
  background-color: $tab;
}
#main_nav li:hover, #mobile_nav li:hover {
  background-color: #e3e3e3;
}

#option1 { border-left: 4px solid #625081; }
#option2 { border-left: 4px solid #a6c1dc; }
#option3 { border-left: 4px solid #58937b; }
#option4 { border-left: 4px solid #C9BFCB; }
#option5 { border-left: 4px solid #275b95; }
#option6 { border-left: 4px solid #e2b754; }

.home b, .downloads b, .events b, .contact b { background-color: #625081; }
.about b { background-color: #a6c1dc; }
.education b { background-color: #58937b; }
.pop-up b { background-color: #C9BFCB; }
.community b { background-color: #275b95; }
.aerial b { background-color: #e2b754; }

.home .tab, .home .event-excerpt, .home .other, .home #masthead {
  border-bottom: 2px dotted #625081;
}
.about .tab, .about .event-excerpt, .about .other, .about #masthead {
  border-bottom: 2px dotted #a6c1dc;
}
.education .tab, .education .event-excerpt, .education .other, .education #masthead {
  border-bottom: 2px dotted #58937b;
}
.pop-up .tab, .pop-up .event-excerpt, .pop-up .other, .pop-up #masthead {
  border-bottom: 2px dotted #C9BFCB;
}
.community .tab, .community .event-excerpt, .community .other, .community #masthead {
  border-bottom: 2px dotted #275b95;
}
.aerial .tab, .aerial .event-excerpt, .aerial .other, .aerial #masthead {
  border-bottom: 2px dotted #e2b754;
}
.home .tab h3 {
  color: #625081;
}
.about .tab h3 {
  color: #a6c1dc;
}
.education .tab h3 {
  color: #58937b;
}
.pop-up .tab h3 {
  color: #C9BFCB;
}
.community .tab h3 {
  color: #275b95;
}
.aerial .tab h3 {
  color: #e2b754;
}
.home .logo em {
  color: #625081;
}
.about em {
  color: #a6c1dc;
}
.education em {
  color: #58937b;
}
.pop-up em {
  color: #C9BFCB;
}
.community em {
  color: #275b95;
}
.aerial em {
  color: #e2b754;
}
.tab, .event-excerpt, .other, .summary {
  padding-bottom: 30px;
  border-bottom: 2px dotted #625081; 
  margin-bottom: 10px;
}
.event-excerpt, .other {
  padding-bottom: 40px;
}
.other {
  padding-top: 40px;
}
.tab img {
  /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); */ 
  margin-top: 20px;
  margin-bottom: 30px;
  padding-right: 0px;
}
#view  {
  margin: 20px 0 -20px 0;
  float: right;
}

/* events */

.meta, .timestamp {
  font-style: italic;
  margin-left: 0;
}
.timestamp {
  background: $tab_background;
  padding: 2px;
  margin: 5px 0;
 }

/* Summary Tabs */
.summary img {
  width: 95%;
  margin-top: 20px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;   
}
.summary li:nth-child(even) p, .summary li:nth-child(even) a, .summary li:nth-child(even) h3 {
  margin-left: 5%;
}




/* Social TABS */

#tabHeadings {
  overflow: hidden;
}
#tabHeadings li {
  position: relative;
  float: left;
  text-align: center;
  cursor: pointer;
  padding: 8px 12px;
  line-height: 14px;
}
#tabHeadings a {
  color: #0088CC;
  outline: 0;
  text-decoration: none;
}
#tabHeadings a:hover  {
  text-decoration: none;
}
#tabHeadings li.select a {
  color: white;
}
#tabHeadings li.select, #tabHeadings li.select:hover {
  background: $tab;
}
#tabHeadings li:hover {
  background-color: #e3e3e3;
}
#tabHeadings li.fb_icon a span {
    background-position: 0 -40px;
    left: 18px; 
    top: 6px;   
}
#tabHeadings li.twitter_icon a span {
    background-position: 0 -60px;
    left: 25px; 
    top: 6px; 
}
#tabHeadings span {
  float: left;
  position: absolute;
  height: 20px;
  width: 20px;
  background: url("/assets/icons/icons.png") no-repeat scroll;
}
#tabHeadings {
  margin-bottom: 0px;
}
.tabs {
  background-color: $tab_background;
}
.js .tabs h3 {
  display: none;
}
/* Initially hide all the uls, except for the first one */
.js .tabs li:not(:first-child) {
  display: none;
}

/* Magazine */

.other {
  position: relative;
}

.magazine img {
  position: absolute;
  bottom: 40px;
  right: 0px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  width: 50%;
  height: 266px;
}

.diag {
    width: 0px;
    height: 30px;
    position: absolute;
    bottom: 40px;
    right: 0;
    border-top: 170px solid transparent;
    border-right: 280px solid #b3b3b3;
    opacity: 0.8;
    z-index: 100;
}

.announcement {
  position: absolute;
  bottom: 25px;
  right: 15px;
  z-index: 101;
  text-align: right;
}

.announcement p {
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}


/*#magHeading {
  background-color: $tab; 
  text-align: center;
}
#magHeading p {
  color: white;
  padding: 8px 12px;
  margin-bottom: 0;
  line-height: 14px;
  margin: 0;
}
#magazine {
    background-color: $tab_background;  
    height: 266px;
}
#magazine img {
  height: 200px;
  margin-top: 32px;
}
#magazine h3 {
  padding-top: 10px;
  text-align: center;
  margin: 0;
}*/


/* downloads */
.download-section .tab {
  border: none;
}
.download h3 {
  margin: 0 0 20px 0;
}

 /* events index */
.event > div > li {
  border-bottom: 2px dotted #625081;   
}
.event > div > li:last-child {
  border-bottom: none;   
}
.event

select.date-select, #publication_pubtype {
  padding: 5px 0;
}



/* footer */

footer {
  margin-top: 50px;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 15px;
}

footer a {
    color: #0099e6;
    text-decoration: none; 
    &:hover {
      text-decoration: underline;     
    } 
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;

}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #f2f2f2;
}

input {
  height: auto !important;
}

.form {
  margin-top: 40px;
  margin-left: 0;
}
.pointer {
  cursor: pointer;
}
#details {
  margin: 35px 0 0 80px;
  padding-left: 7px;
}
#details p {
  margin-top: 0;
}
#error_explanation {
  color: #f00;
  ul {
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }


#basic-modal-content {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000; }

/* Container */
#simplemodal-container {height:360px; width:600px; color:#948b96; background-color:#fff; border:4px solid #aaaaaa; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container p { font-size: 14px; line-height: 18px;}
#simplemodal-container a {color:#0088CC;}
#simplemodal-container a.modalCloseImg {background:url(/assets/icons/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}




@media (min-width: 1400px) {
  .grid {
    margin: 0 15%;
  }
  #header_nav, #main_nav, #headsocial {
    right: 15%;
  }

}
@media (max-width: 1024px) {
  .col-1-3 {
    width: 50%;
  } 
  .tab img {
    width: 100%;
  }
  #header_nav .col-1-3 {
    width: 33%;
  }
  #main_nav {
    font-size: 15px;
  }
  #headsocial img {
    width: 25%;
  }  
}
@media (max-width: 768px) { 
  #main_nav {
    position: relative; 
    right: 0; 
    margin-top: 20px;
    width: 100%;
  }
  #main_nav li {
    float: left;
    display: inline;
    width: 50%;
  }
  #masthead {
    width: 100%;
  }
  #headsocial {
    display: none;
    position: absolute;
  }
  .tab {
    width: 100%;
  }
  #header_nav {
    right: -90px;
    top: 30px;
  }
  #header_nav li {
  clear: both;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px; 
  }
  .event-excerpt, .other {
    width: 100%;
  }
 .col-2-3 {
    width: 100%;
  }
  #te, #be, #re, #le {
    display: none;
  } 
} 
@media (max-width: 600px) {
  h1 {
    font-size: 30px;
    line-height: 34px;
  }
  #masthead img {
    height: 140px;
  }
  .blurb {
    font-size: 18px;
    line-height: 27px;
  }
  h3 {
    font-size: 20px;
  }
  .grid {
    margin: 0 5%;
  }
  .col-1-3 {
    width: 100%;
  }
  .col-2-3 {
    width: 100%;
  }
  .col-1-2 {
    width: 100%;
  }
  .summary img {
    width: 100%;
    margin-top: 20px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;   
  }
  .summary li:nth-child(even) p, .summary li:nth-child(even) a, .summary li:nth-child(even) h3 {
    margin-left: 0;
  }  
  .other {
    display: none;
  }
  #mobile_nav {
    display: normal;
    margin-top: 40px;
    display: inline;
    width: 100%;
  }
  .blurb {
    margin-top: 0px;
  }
  #main_nav li {
    display: none;
  } 
}
@media (max-width: 400px) {
   #masthead h1 {
    font-size: 30px;
  } 
}