@import "bootstrap";
@import "bootstrap-responsive";

/*@font-face {
  font-family: SourceSansPro;
  src: url('type/SourceSansPro-Regular.otf');
}*/
 
  
/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}


/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 0px;
  /*background: url("/assets/bg.gif") repeat scroll 0 0 #F6F6F6;*/
  background: #ffffff;
  font-family: arial, helvetica;
  color: #575757;
}

body ul {
  list-style: none;
  margin-left: 0;
}

/*.rounded {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}*/

section {
  padding-bottom: 10px;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}



/* typography */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
 

h1 {
  font-size: 44px;
  line-height: 48px;
  color: #ffffff;
  letter-spacing: -1px;
}

h2 {
  font-size: 30px;
  line-height: 34px;
  letter-spacing: -1px;
  color: #999999;
  margin: 0 0 20px 0;
}

h3 {
  font-size: 1.17em;
  line-height: 1.3em;
  color: #999999;
  padding-bottom: 10px;

}

p {
    font-size: 14px;
    line-height: 21px;
}

li {
  line-height: 1.7em;  
}


.alert {
  margin-top: 20px;
}

.pane1 {
  position:relative;
}

/* headsocial */

#headsocial {
  margin-left: -30px;
}

#headsocial li {
    display: inline-block;
    padding-right: 10px;
}

#headsocial img:hover {
  opacity: 0.7;

}





/* Header  */

#header {
  /*#89b06c*/
  background: #89b06c;
  height: 85px;
  position: relative;
}

#nav {
    float: right;
    margin-top: 30px;
}

#nav li.active a {
    background: none repeat scroll 0 0 #a3c28e;
    color: #FFFFFF;
}

#nav li :hover {
    background: none repeat scroll 0 0 #a3c28e;
    text-decoration: none;
}

#nav a {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    padding: 7px 12px;
    /*text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);*/
}

#nav li:first-child {
    margin-right: 0;
}

#nav, #headsocial ul, ol {
    margin: 30px 0 0 0;
    padding: 0; 
}

#nav li {
    float: left;
    list-style: none outside none;
    margin-left: 5px;
}

.navbar-inner, .navbar-static-top .navbar-inner {
   background: none; 
   border: none; 
   box-shadow: none;
   -moz-box-shadow: none; 
   -webkit-box-shadow: none; 

}


/* masthead */

#masthead {
    background: #89b06c;
    border-bottom: 8px solid #A3C28E;
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);*/
    z-index: 1;

}

#masthead h1 {
    margin-bottom: 0.75em;
    /*text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);*/

}

#masthead-container {
  position: relative;
  height: 90px;
  width: 660px;
  margin: auto;
}

#masthead-container img{
  position: absolute;
  top: -30px;
  left: -10px;
}

#masthead-container h1 {
  position: absolute;
  top: 0;
  right: 20px;
}

#masthead-container p {
    color: #FFFFFF;
    font-weight: bold;
    /*text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);*/
    position: absolute;
    bottom: 17px;
    right: -63px;
}


li#fat-menu.dropdown > ul.dropdown-menu {
  color: #999999;
  background: #fbfbfb;
  a {
    background: #fbfbfb;
    color: #999999;
    text-shadow: none;
  }
}


/* main home */ 

.tab-content, .event-content {
  background: none repeat scroll 0 0 transparent;
  padding: 0;
  margin: 25px 0 0 25px;
  list-style: none;
}

.tab-content li {
  border-bottom: 1px solid #999999;
  margin-bottom:20px;
}

.green_h2 h2{
  color: #89b06c;
} 

.tab-content li:last-child {
  border-bottom: none;
}


.image-center img {
  margin-bottom: 20px;
  width: 690px;
}

.image-right h3, .image-right p{
  float: left;
  width: 300px;

}

.image-right img {
  float: right;
  width: 250px;
}

.image-left img {
  float: left;
  width: 250px;
}

.image-left h3, .image-left p {
  float: right;
  width: 300px;
}

.clear {
  clear: both;
}


/* side navigation */

.tabbable {
  margin: 25px 0 10px 0;
  width: 280px;
}

.nav {
  background: #eeeeee;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    background-color: #89b06c;
    color: white;
    outline: 0;

  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.nav-pills li a {
  margin: 0;
}

.nav-pills a:hover {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: #0088CC;
}

.nav > li > a:hover {
  background-color: #e3e3e3;
}

#magHeading {
  background-color: #89b06c; 
  margin-top: 0px;
  text-align: center;
}

#magHeading p {
  color: white;
  padding: 8px 12px;
  margin-bottom: 0;
  line-height: 14px;
}

#magazine {
    background-color: #eeeeee;  
}

#magazine img {
  width: 190px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

#magazine h3 {
  padding-top: 10px;
  text-align: center;
}


/* sidebar */

.event-content ul {
  margin-left: 0;
}

.event-content li {
  border-bottom: 1px solid #999999;
  list-style: none;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.event-content li:last-child {
  border-bottom: none;
}

.event-content h3 {
  margin-bottom: 0px;
}

.event-content a {
    color: #89b06c;
}

.meta, .timestamp {
  font-style: italic;
  margin-left: 0;
}

.meta li {
  border: none;
  display: inline;
}

.meta li:after {
  content: ' /';
  font-style: italic;
}

.meta li:last-child:after {
  content: none;
}

.timestamp {
  background: #eeeeee;
  padding: 2px;
  margin: 5px 0;
 }






/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}



/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.form {
  margin-top: 25px;
  margin-left: 0;
}

    
#map_canvas {
  width: 100%;
  height: 300px;
}


#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

 /* events index */

select.date-select, #publication_pubtype {
  padding: 5px 0;
}

.footer {
  margin-left:-30px;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
}

footer a {
    color: #0099e6;
    text-decoration: none; 
    &:hover {
      text-decoration: underline;     
    } 
}

/* downloads */

.download-content {
  margin-left: 0px;
}

.download {
  width:265px;
  float: left;
  margin: 0 0 25px 25px;
}

.download img {
  float: left;
  width: 100px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

}
.download h3, .download p {
  float: right;
  width: 155px;
}

#tabHeadings {
  display:  block;
  margin-top: 10px;
  overflow: hidden;
}

/* TABS */

.js .tabs h3 {
  display: none;
}


/* Initially hide all the uls, except for the first one */
.js .tabs li:not(:first-child) {
  display: none;
  
}

.tabs {
  background-color: #eeeeee;
  padding: 0 0 0 0px;
}

#twitter div {
  padding-left: 10px;
}

#tabHeadings li {
  float: left;
  width: 116px;
  text-align: center;
  cursor: pointer;
  padding: 8px 12px;
  line-height: 14px;
}

#tabHeadings a {
  color: #0088CC;
  outline: 0;
  text-decoration: none;
}

#tabHeadings a:hover  {
  text-decoration: none;
}

#tabHeadings li.selected a {
  color: white;
}

#tabHeadings li.selected, #tabHeadings li.selected:hover {
  background: #89b06c;
}

#tabHeadings li:hover {
  background-color: #e3e3e3;
}

#tabHeadings li {
    position: relative;
    background: #ffffff
}

#tabHeadings li.fb_icon a span {
    background-position: 0 -40px;
    left: 18px; 
    top: 6px;   
}

#tabHeadings li.twitter_icon a span {
    background-position: 0 -60px;
    left: 25px; 
    top: 6px; 
}

#tabHeadings span {
  float: left;
  position: absolute;
  height: 20px;
  width: 20px;
  background: url("/assets/icons/icons.png") no-repeat scroll;
}

#tabHeadings {
  margin-bottom: 0px;
}
