<% provide(:title, 'Categories') %> 
<div class="main">
  <div class="row">
    <div class="content span6">
    <h2>Categories</h2>

    <% @categories.each do |category| %>
        <ul>
          <li>
            <%= category.name %>
            <% if signed_in? %>
              <%= link_to 'Edit', edit_category_path(category) %>
              | <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </li>
        </ul>
     
    <% end %>

    </div>
  </div>
</div>
