<div class="banner center hidden-phone">
	<div class="banner-content container">
		<% @publication.each do |pub| %>
		<h1>Read the IAR digital magazine. <%= pub.title %> is out now!</h1>
		<%= image_tag pub.image_url(:thumb).to_s, class: "featured"%>
		<img class="background" src="/assets/page_2_thumb_large.jpg">
		<% end %>
	
	</div>
</div>


