<div id="masthead">

	<div id="masthead-container">
		<img src="/assets/logo_1.png">
		<h1>Irish Archaeological Research</h1>
		<p>Bringing our local heritage to the world</p>
	</div>

</div><!--/#masthead-->

