<div class="banner center">
	<div class="banner-content">
		<h1>Read the IAR digital magazine. Issue 4 is out now!</h2>
	</div>
	<%= link_to "Read Now", '#', class: "btn btn-large btn-primary" %>
</div>
	