<div class="banner center">
	<div class="banner-content container">
		<h1>Read the IAR digital magazine. Issue 4 is out now!</h1>
		<p><%= link_to "Read Now", '#', class: "btn btn-large btn-primary" %>
		</p>
		<img class="featured" src="/assets/page_1_thumb_large.jpg">
		<img class="background" src="/assets/page_2_thumb_large.jpg">
	</div>
</div>
	