<b id="te" class="welcome"></b>
<b id="be" class="welcome"></b>
<b id="le" class="welcome"></b>
<b id="re" class="welcome"></b> 


<footer class="grid">
  <div class="row contact col-2-3">
    <small>
      Irish Archaelogical Research, 
      47 Olympia Drive,
      Belfast, BT12 6NG<br>
      tel: 02890501769,
      email: <a href="mailto:info@irisharchaeologicalresearch.com">info@irisharchaeologicalresearch.com</a>
    </small>  
  </div> 
</footer>




<script type="text/javascript">
jQuery(function ($) {
  // Load dialog on page load
  //$('#basic-modal-content').modal();

  // Load dialog on click
  $('#basic-modal .basic').click(function (e) {
    $('#basic-modal-content').modal();

    return false;
  });
});
</script>