<footer class="grid">
  <div class="row contact col-2-3">
  
    <div id="footersocial">
          <a href="https://www.facebook.com/IrishArchaeologicalResearch">
              <img src="/assets/icons/facebook_grey.png" alt="facebook" />
          </a>
          <a href="https://twitter.com/IAR1">
              <img src="/assets/icons/twitter_grey.png" alt="twitter" />
          </a>
          <div id='basic-modal'>
            <a href='/contact' class='basic'><img src="/assets/icons/email.png" alt="contact-us" /></a>
          </div>               
    </div>   
    
    <small>
      Irish Archaelogical Research, 
      47 Olympia Drive,
      Belfast, BT12 6NG<br>
      tel: 02890501769,
      email: <a href="mailto:info@irisharchaeologicalresearch.com">info@irisharchaeologicalresearch.com</a>
    </small>  
  </div> 

</footer>




<script type="text/javascript">
jQuery(function ($) {
  // Load dialog on click
  $('#basic-modal .basic').click(function (e) {
    $('#basic-modal-content').modal();
    return false;
  });
});
</script>